openapi: 3.1.0
info:
  title: DeveloperHub.io Documentation References API
  description: 'REST API for the DeveloperHub.io developer documentation platform. Programmatically

    manage documentation projects, pages, versions, API references, reader access, and

    audit data. Authentication uses an X-Api-Key header generated from the DeveloperHub

    platform.

    '
  version: 1.0.0
  contact:
    name: DeveloperHub
    url: https://docs.developerhub.io
servers:
- url: https://api.developerhub.io/api/v1
  description: DeveloperHub API v1
security:
- ApiKeyAuth: []
tags:
- name: References
paths:
  /reference/{id}/definition:
    get:
      summary: Read API reference definition
      operationId: getReferenceDefinition
      tags:
      - References
      parameters:
      - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Reference definition (OpenAPI/Swagger)
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /reference/{id}/publish:
    put:
      summary: Publish API reference
      operationId: publishReference
      tags:
      - References
      parameters:
      - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Published
  /version/{versionId}/reference:
    post:
      summary: Add or update API reference for a version
      operationId: upsertReference
      tags:
      - References
      parameters:
      - name: versionId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                definition:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Reference saved
components:
  parameters:
    IdPath:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
