openapi: 3.1.0
info:
  title: DeveloperHub.io Documentation Versions API
  description: 'REST API for the DeveloperHub.io developer documentation platform. Programmatically

    manage documentation projects, pages, versions, API references, reader access, and

    audit data. Authentication uses an X-Api-Key header generated from the DeveloperHub

    platform.

    '
  version: 1.0.0
  contact:
    name: DeveloperHub
    url: https://docs.developerhub.io
servers:
- url: https://api.developerhub.io/api/v1
  description: DeveloperHub API v1
security:
- ApiKeyAuth: []
tags:
- name: Versions
paths:
  /version:
    get:
      summary: List all project versions
      operationId: listVersions
      tags:
      - Versions
      responses:
        '200':
          description: Versions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Version'
  /version/{id}:
    put:
      summary: Update a version
      operationId: updateVersion
      tags:
      - Versions
      parameters:
      - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Version'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
components:
  schemas:
    Version:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        isDefault:
          type: boolean
  parameters:
    IdPath:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
