openapi: 3.1.0
info:
  title: DeveloperHub.io Documentation Project API
  description: 'REST API for the DeveloperHub.io developer documentation platform. Programmatically

    manage documentation projects, pages, versions, API references, reader access, and

    audit data. Authentication uses an X-Api-Key header generated from the DeveloperHub

    platform.

    '
  version: 1.0.0
  contact:
    name: DeveloperHub
    url: https://docs.developerhub.io
servers:
- url: https://api.developerhub.io/api/v1
  description: DeveloperHub API v1
security:
- ApiKeyAuth: []
tags:
- name: Project
paths:
  /users:
    get:
      summary: Get project users and roles
      operationId: listUsers
      tags:
      - Project
      responses:
        '200':
          description: User list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    email:
                      type: string
                    role:
                      type: string
  /search:
    get:
      summary: Search project content
      operationId: searchContent
      tags:
      - Project
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Search hits
          content:
            application/json:
              schema:
                type: object
                properties:
                  hits:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
  /all:
    get:
      summary: Retrieve all resources
      operationId: getAll
      tags:
      - Project
      responses:
        '200':
          description: All resources
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audit:
    get:
      summary: Query audit log
      operationId: queryAudit
      tags:
      - Project
      responses:
        '200':
          description: Audit entries
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
  /export:
    get:
      summary: Export project
      operationId: exportProject
      tags:
      - Project
      responses:
        '200':
          description: Export bundle
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
