openapi: 3.2.0
info:
  title: DeveloperHub.io Documentation API
  description: API to manage your %product% resources programmatically. Using these APIs, you are able
    to manage pages, integrate with CI/CD, and retrieve resources among other operations.
  version: 1.1.0
  contact:
    name: DeveloperHub
    url: https://docs.developerhub.io/api/ref
servers:
- url: https://api.developerhub.io/api/v1
  variables: {}
security:
- Api-Key: []
tags:
- name: Documentation
  description: Operations for listing documentation sections.
paths:
  /version/{id}/documentation:
    get:
      tags:
      - Documentation
      summary: Lists documentation sections in a version
      description: 'Lists all documentation sections in a version. Rate limit: 60 in 60 minutes.'
      operationId: list_documentation
      parameters:
      - name: id
        in: path
        description: Version ID
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Documentation'
                description: OK
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDenied'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
      deprecated: false
components:
  headers:
    X-RateLimit-Limit:
      description: Requests permitted until reset time
      schema:
        type: integer
        example: 300
    X-RateLimit-Remaining:
      description: Requests consumed in current period
      schema:
        type: integer
        example: 253
    X-RateLimit-Reset:
      description: Unix timestamp at which requests consumed will reset
      schema:
        type: integer
        example: 1611530395
  schemas:
    AccessDenied:
      title: AccessDenied
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              description: Message of the error
              example: Access Denied
            httpCode:
              type: number
              description: HTTP code returned
              example: 403
            code:
              type: number
              description: Internal error code
              example: 403
    Documentation:
      title: Documentation
      required:
      - id
      - title
      - slug
      - created
      - updated
      - ordr
      - published
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier
          example: 412
        title:
          type: string
          description: Title of the documentation section
          example: Support Center
        slug:
          type: string
          description: Slug in the URL
          example: support-center
        description:
          type:
          - string
          - 'null'
          description: Description of the documentation section
          example: Guides and troubleshooting
        created:
          type: string
          description: Date of creation
          example: 2019-03-20T19:02:14+0000
        updated:
          type: string
          description: Date of last update
          example: 2019-03-20T19:02:14+0000
        pagesUpdated:
          type:
          - string
          - 'null'
          description: Date of last update to any page in the section
          example: 2019-03-20T19:02:14+0000
        ordr:
          type: integer
          description: Numerical order in the version
          example: 1
        published:
          type: boolean
          description: True if it can be viewed by readers
          example: true
        collapsed:
          type: boolean
          description: True if the section's navigation starts collapsed
          example: true
        wide:
          type: boolean
          description: True if pages render in wide layout
          example: true
        sticky:
          type: boolean
          description: True if the section navigation is sticky
          example: true
        locale:
          type: string
          description: Locale of the section
          example: en_us
        showPagesLastUpdated:
          type: boolean
          description: True if pages show their last update date
          example: false
        showPagesLastUpdateUser:
          type: boolean
          description: True if pages show who last updated them
          example: false
        hasExpandableCategories:
          type: boolean
          description: True if navigation categories are expandable
          example: false
      description: Documentation section object
    TooManyRequests:
      title: TooManyRequests
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              description: Message of the error
              example: You exceeded the rate limit
            httpCode:
              type: number
              description: HTTP code returned
              example: 429
            code:
              type: number
              description: Internal error code
              example: 9
  securitySchemes:
    Api-Key:
      type: apiKey
      description: 'Generate an API Key from [DeveloperHub.io platform](https://app.developerhub.io) and
        provide it in the header such as `--header "X-Api-Key: <api-key>"` for cURL for all the requests
        requiring this authentication.'
      name: X-Api-Key
      in: header
