openapi: 3.1.0
info:
  title: DeveloperHub.io Documentation Reader Access API
  description: 'REST API for the DeveloperHub.io developer documentation platform. Programmatically

    manage documentation projects, pages, versions, API references, reader access, and

    audit data. Authentication uses an X-Api-Key header generated from the DeveloperHub

    platform.

    '
  version: 1.0.0
  contact:
    name: DeveloperHub
    url: https://docs.developerhub.io
servers:
- url: https://api.developerhub.io/api/v1
  description: DeveloperHub API v1
security:
- ApiKeyAuth: []
tags:
- name: Reader Access
paths:
  /reader-access:
    get:
      summary: Get invited readers
      operationId: listReaderAccess
      tags:
      - Reader Access
      responses:
        '200':
          description: Readers
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    email:
                      type: string
                    status:
                      type: string
    post:
      summary: Grant reader access
      operationId: grantReaderAccess
      tags:
      - Reader Access
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Granted
    patch:
      summary: Revoke reader access
      operationId: revokeReaderAccess
      tags:
      - Reader Access
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Revoked
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
